{% extends "account/base2.html" %}
{% load staticfiles %}
{% block title %}Wejoin{% endblock %}
{% block content %}
  <div class="admin-content">
    <div class="row">
      <div class="col-xs-4">
        <div class="user_wraper">
          <li><a href="" class="list-group-item active">个人资料</a></li>
          <li><a href="#" class="list-group-item">你举办的活动</a></li>
          <li><a href="#" class="list-group-item">你收到的预定</a></li>
        </div>
      </div>
      <div class="col-xs-5">
        <div class="thumbnail">
          <h3>Welcome, {{request.user.email}}</h3>
          <hr>
          <div class="caption-full">
            <form class="form-horizontal" method="POST" action=".">
              {% csrf_token %}
              <fieldset>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="user_last_name">姓氏</label>
                  <div class="col-md-6">
                    <input id="user_last_name" name="last_name" type="text" placeholder="" class="form-control input-md" value="{{ user_info.last_name }}">
                    
                  </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="user_first_name">名字</label>
                  <div class="col-md-6">
                    <input id="user_first_name" name="first_name" type="text" placeholder="" class="form-control input-md " value="{{ user_info.first_name }}">
                  </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="address">地址</label>
                  <div class="col-md-6">
                    <input id="address" name="address" type="text" placeholder="" class="form-control input-md" value="{{ user_info.address }}">
                    
                  </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="user_city">城市</label>
                  <div class="col-md-6">
                    <input id="user_city" name="city" type="text" placeholder="" class="form-control input-md" value="{{ user_info.city }}">
                    
                  </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="user_zipcode">邮编</label>
                  <div class="col-md-6">
                    <input id="user_zipcode" name="zipcode" type="text" placeholder="" class="form-control input-md" value="{{ user_info.zipcode }}">
                    
                  </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="user_tel">电话</label>
                  <div class="col-md-6">
                    <input id="user_tel" name="phone_number" type="text" placeholder="" class="form-control input-md" value="{{ user_info.phone_number }}">
                    
                  </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="user_wechat">微信</label>
                  <div class="col-md-6">
                    <input id="user_wechat" name="wechat_number" type="text" placeholder="" class="form-control input-md" value="{{ user_info.wechat_number }}">
                    
                  </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="user_introduciton">个人简介</label>
                  <div class="col-md-6">
                    <input id="user_introduciton" name="introduction" type="text" placeholder="" class="form-control input-md" value="{{ user_info.introduction }}">
                    
                  </div>
                </div>
                <div class="form-group">
                  <center><button type="submit" id="userinfo_sumit" name="userinfo" class="btn btn-success col-md-3 col-md-offset-5">保存</button></center>
                </div>
              </fieldset>
            </form>
          </div>
          
        </div>
      </div>
    </div>
  </div>
{% endblock %}