{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}Wejoin{% endblock %}</title>
    <!-- Custom CSS First priority-->

    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

</head>
<body>

    <!-- Navigation -->
    <div class="row">
        <div class="nav_bar" id="nav_bar_index">
            {% block nav_bar_index %}{% endblock %}
        </div>
    </div>

    <!-- Carousel Header or other header-->
    <div class="row">
        <div id="carousel_index">
            {% block carousel_index %}{% endblock %}
        </div>
    </div>

    <!-- Page Content -->
    <div class="row">
        <div class="container">

            <div class="row" id="post_content_index">
                <div class="col-lg-12">
                    {% block post_content_index %}
                    {% endblock %}
                </div>
            </div>

            <hr>

            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; Wejoin 2015</p>
                    </div>
                </div>
                <!-- /.row -->
            </footer>

        </div>
    </div>
    <!-- jQuery -->
    <script src="{% static "js/jquery.min.js"%}"></script>
    <!-- Bootstrap js-->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <!-- Custom js -->
    {% block custom_script %}
    {% endblock %}
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

{% block test %}
{% endblock %}

</body>
</html>