

.admin-content {
	margin-top: 25px;
}

.user_wraper {
	float: right;
	width: 200px;
}

.thumbnail {
    padding: 10px;
    margin-left: 50px;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}