ul {
	list-style-type: none;
}

.admin-content {
	margin-top: 25px;
}

.user_wraper {
<<<<<<< Updated upstream
	/*float: right;
	width: 250px;*/
}

.user-nav-control {
	display: block;
	text-align: right;
	margin-bottom: 13px;	
}

.user-nav-control.active{
	border-style: solid;
	border-color: #E0393E;
	border-width:0 4px 0 0;
}

.user-nav-control-link {
	font-size: 15px;
	padding-right: 10px;


}

.thumbnail {
    padding: 10px;
    margin-left: 30px;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}