{% extends "base/base.html" %}
{% load staticfiles %}
{% block other_content %}
	<div class="row">
		<div class="col-xs-4"></div>
		<div class="col-xs-4">
			<form data-toggle="validator" class="form" role="form" method="post" action="" accept-charset="UTF-8" id="signup-nav">
				
				{% csrf_token %}
				<div class="form-group has-feedback">
					{{signuptestform.email}}
					<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
					<span class="help-block with-errors">{{signuptestform.email.errors.as_text}}</span>
				</div>
				<div class="form-group has-feedback">
					{{signuptestform.password}}
					<span class="help-block with-errors"></span>
					<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
				</div>
				<div class="form-group">
					<button type="submit" id="signupsubmitid" name="signup_submit" class="btn btn-success btn-block">Sign up</button>
				</div>
			</form>
		</div>
		<div class="col-xs-4"></div>
	</div>
{% endblock %}