{% extends "user/base_admin.html" %}
{% load staticfiles %}
{% block title %}Wejoin{% endblock %}
{% block content %}
<div class="col-xs-9">
  <form class="form-horizontal" method="POST" action="{% url 'accounts.views.user_change_password' %}">
  {% csrf_token %}
  <fieldset>
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-3 control-label" for="old_password">Old Password</label>
      <div class="col-md-6">
        <input id="old_password" name="old_password" type="password" placeholder="" class="form-control input-md" value="">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-3 control-label" for="new_password">New Password</label>
      <div class="col-md-6">
        <input id="new_password" name="new_password" type="password" placeholder="" class="form-control input-md" value="">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-3 control-label" for="confirm_password">Confirm Password</label>
      <div class="col-md-6">
        <input id="confirm_password" name="confirm_password" type="password" placeholder="" class="form-control input-md" value="">
        <span>{{message}}</span>
      </div>
    </div>

    <div class="form-group">

      <center><button type="submit" id="update_password_sumit" name="update_password_sumit" class="btn btn-success col-md-3 col-md-offset-5">Update Password</button></center>
    </div>

  </fieldset>
  </form>
</div>
{% endblock %}