{% extends "user/base_admin.html" %}
{% load staticfiles %}
{% block title %}Wejoin{% endblock %}
{% block content %}
  <div class="col-xs-9">
        <div class="thumbnail">
          <h3>欢迎回来, {{request.user.email}}</h3>
          <hr>
          <div class="caption-full">
            <form class="form-horizontal" method="POST" action="{% url 'accounts.views.user_profile' %}">
              {% csrf_token %}
              <fieldset>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="user_last_name">姓氏</label>
                  <div class="col-md-6">
                    <input id="user_last_name" name="last_name" type="text" placeholder="" class="form-control input-md" value="{{ user_info.last_name }}">
                    
                  </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="user_first_name">名字</label>
                  <div class="col-md-6">
                    <input id="user_first_name" name="first_name" type="text" placeholder="" class="form-control input-md " value="{{ user_info.first_name }}">
                  </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="address">地址</label>
                  <div class="col-md-6">
                    <input id="address" name="address" type="text" placeholder="" class="form-control input-md" value="{{ user_info.address }}">
                    
                  </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="user_city">城市</label>
                  <div class="col-md-6">
                    <input id="user_city" name="city" type="text" placeholder="" class="form-control input-md" value="{{ user_info.city }}">
                    
                  </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="user_zipcode">邮编</label>
                  <div class="col-md-6">
                    <input id="user_zipcode" name="zipcode" type="text" placeholder="" class="form-control input-md" value="{{ user_info.zipcode }}">
                    
                  </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="user_tel">电话</label>
                  <div class="col-md-6">
                    <input id="user_tel" name="phone_number" type="text" placeholder="" class="form-control input-md" value="{{ user_info.phone_number }}">
                    
                  </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="user_wechat">微信</label>
                  <div class="col-md-6">
                    <input id="user_wechat" name="wechat_number" type="text" placeholder="" class="form-control input-md" value="{{ user_info.wechat_number }}">
                    
                  </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="user_introduciton">个人简介</label>
                  <div class="col-md-6">
                    <textarea class="form-control input-md" id="user_introduciton" rows="10"  name="introduction" placeholder="例如：我来自北京，现在在斯坦福东亚研究系读博，业余还喜欢逛历史博物馆，研究名家名作，没事儿自己写写点评" style="resize:none" required="">{{ user_info.introduction }}</textarea>
                  </div>
                </div>
                <div class="form-group">
                  <center><button type="submit" id="userinfo_sumit" name="userinfo" class="btn btn-success col-md-3 col-md-offset-5">保存</button></center>
                </div>
              </fieldset>
            </form>
          </div>
          
        </div>
      </div>
{% endblock %}